@tailwind base;
@tailwind components;
@tailwind utilities;

.enqiry-bg{
  background-color: #eefbe7 !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    overflow-x: hidden;
}
body{
 /* position: static; */
  overflow-x: hidden;
}
.jsc{
  justify-content: center;
}
.logo img{
    width: 150px;
    object-fit: contain;
}
.transbox {
  /* margin: 20px; */
  background-color: #ffffff55;
  /* border: 1px solid black; */
  border-radius: 5px;
  opacity: 0.2;
}
.transbox h1,.transbox p {
  /* margin: 5%; */
  font-weight: 500;
  color: #f4eeee;
}

.collapse{
  visibility: visible !important;
}
.margin{
    margin: 0;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.padding-right{
    padding-right: 1.5rem;
}
.m-left{
  margin-left: 10px;
}
.m-right{
  margin-right: 10px;
}
  .start{
    text-align: start;
  }
  .object-fit{
    object-fit: cover;
  }
.navbar-light .navbar-toggler-icon{
  color: black;
  background-image: none
}

.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
  .collapse{
    visibility:inherit;
  }
.background{
  background-image: url(./Image/Aggry.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 400px; */
  padding: 70px 0;
  opacity: 50px;
  /* height: 100vh; */
}
.background1{
  background-image: url(./Image/Agricalture\ \(1\).jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 400px; */
  /* padding: 0px 0; */
  /* opacity: -1px; */
  /* height: 100vh; */
}

.honey{
  background: url(./Image/4.webp)  no-repeat;
  background-position: center center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-size{
  font-size: xxx-large;
}

@media only screen and (max-width: 600px) {
 .JSR{
  justify-content: center;
 }

}


@media only screen and (max-width: 576) {
  .background {
    flex-basis: 100%;
  }

}
@media (min-width: 768px) { 
  .background {
    flex-basis: 100%;
  }
  .card{
    /* width: 60%; */
  }
}


@media only screen and (max-width: 992) {
  
}
@media only screen and (max-width: 1200) {
  
}
img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/* ------------About us Image------------ */
.simple-shape {
  width: 100%;
}

.three {
    border-radius: 5px;
  -webkit-animation: simple-scale 1s 1s linear infinite alternate;
  animation: simple-scale 1s 1s linear infinite alternate;
  transition: all 0.5s ease-in-out;
}
.three:hover{
  transform: scale(1.2);
}

  
.back-to-top {
  position: fixed;
  visibility: visible;
  /* opacity: 1; */
  left: 20px;
  bottom: 15px;
  z-index: 996;
  background: #25D366;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  /* background: #e03a3cd1; */
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


.back-to-top_1 {
  position: fixed;
  visibility: visible;
  /* opacity: 1; */
  right: 20px;
  bottom: 15px;
  z-index: 996;
  background: #25D366;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top_1 i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top_1:hover {
  /* background: #e03a3cd1; */
  color: #fff;
}

.back-to-top_1.active {
  visibility: visible;
  opacity: 1;
}

/* -------third sticky------------ */
.back-to-top_2 {
  position: fixed;
  visibility: visible;
  /* opacity: 1; */
  right: 20px;
  bottom: 65px;
  z-index: 996;
  background: #25D366;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  transition: all 0.4s ease-in;
}

.back-to-top_2 i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top_2:hover {
  /* background: #e03a3cd1; */
  color: #fff;
}

.back-to-top_2.active {
  visibility: visible;
  opacity: 1;
}



  /* #Aenker {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #Aenker.show {
    opacity: 1;
    visibility: visible;
  } */


  .btn-open-popup { 
    padding: 12px 24px; 
    font-size: 18px; 
    background-color: green; 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  } 

  .btn-open-popup:hover { 
    background-color: #4caf50; 
  } 

  .overlay-container { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  } 

  .popup-box { 
    background: #fff; 
    padding: 24px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 320px; 
    text-align: center; 
    opacity: 0; 
    transform: scale(0.8); 
    animation: fadeInUp 0.5s ease-out forwards; 
  } 

  .form-container { 
    display: flex; 
    flex-direction: column; 
  } 

  .form-label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
  } 

  .form-input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
  } 

  .btn-submit, 
  .btn-close-popup { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  } 

  .btn-submit { 
    background-color: green; 
    color: #fff; 
  } 

  .btn-close-popup { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
  } 

  .btn-submit:hover, 
  .btn-close-popup:hover { 
    background-color: #4caf50; 
  } 

  /* Keyframes for fadeInUp animation */ 
  @keyframes fadeInUp { 
    from { 
      opacity: 0; 
      transform: translateY(20px); 
    } 

    to { 
      opacity: 1; 
      transform: translateY(0); 
    } 
  } 

  /* Animation for popup */ 
  .overlay-container.show { 
    display: flex; 
    opacity: 1; 
  } 


  .multi-item-carousel{
    .carousel-inner{
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-33%;
        }
        &.right{
          left:33%;
        }
      }
      .next{
        left: 33%;
      }
      .prev{
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item{
          /* // use your favourite prefixer here */
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control{
      &.left, &.right{
        background-image: none;
      }
    }
  }
 



  #about {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  .ronak-bg {
    padding: 120px 0;
    color: #ffffff;
  }
  .ronak-bg:before {
    content: "";
    background: #1b1b1b;
    background-image: url(./Image/3.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }

  .green-co{
    background-color: #9ba48d54 !important;
  } 
   /* .yellow-co{
    background-color: #e2e2df48 !important;
  } */
  .marun-co{
    background-color: #077c36b7 !important;
  }
   .d-green-co{
    background-color: #a9cb6f49 !important;
  }
  /* .d2-green-co{
    color: #597E52 !important;
  } */
  /* .sky-co{
    background-color: #2fac46cb !important;
  }  */

   /* .freni {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    
  } */
  .t-shedo {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    /* text-shadow: 10px 10px 40px black; */
  } 
  /* .t-shedo1 {
    text-shadow: 1px 3px 7px #2fac46cb;
  }  */
  .product-card{
    
    /* background-color:  #cadf543e ; */
    transition: all 0.3s ease-in;
  }
  .product-card1{
    
    /* background-color:  #cadf543e ; */
    transition: all 0.3s ease-in;
  }
  .g-co{
    background-color: #597E52;
  }
  .g-co1{
    color: #597E52;
  }
  .y-co{
    background-color: #a7b538;
  }
  .y-co1{
    color: #a7b538;
  }
  /* .product-card:hover img {
    transform: scale(1.1);
} */
#google_translate_element img{
  width: none;
  display: none;
}
  .product-card:hover {
    background-color: #2fac46cb;
    box-shadow: 1px 1px 10px black;
    filter: drop-shadow(3px 5px 2.5px rgba(31, 32, 31, 0.612));
    color: white;
    font-weight: bold;
  }
  .product-card1:hover {
    /* background-color: #2fac46cb; */
    box-shadow: 1px 1px 10px black;
    filter: drop-shadow(3px 5px 2.5px rgba(31, 32, 31, 0.612));
    /* color: white; */
    font-weight: bold;
  }

.i-con{
  color: #39752de5;
  /* transition: all 0.3s ease-in-out; */
}
.Arrow{
  color:#39752de5;
}

.bg-success:hover{
background-color: #b8cc46 !important;
}
.product{
  background-color: #f1e4c398 !important;
}

