*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stl {
    background-color: rgba(171, 252, 171, 0.543);
}

#p-btn button {
    width: 60%;
    bottom: 3.3rem;
}

#p-btn button {
    margin-left: 20%;
}